@media (max-width: 1920px){
}
/*End Screen 1920*/
@media (max-width: 1366px){
}
/*End Screen 1366*/
@media (max-width: 1200px){
}
/*End Screen 1200*/
@media (max-width: 1024px){
.box-slider .owl-pagination{
	display: none;
}
.box-blog .info-box h3{
	padding: 0;
}
.box-product-2 .box-tabs h2{
	font-size: 24px;
	margin: 10px 25px 0 0;
}
.box-brand a {
    margin-right: 55px;
}
.top-header-4{
	padding: 10px 25px;
}
.players{
	margin: 50px 0;
}
.box-lastest-product .title{
	width: 20%;
	margin-top: -10px;
}
.box-lastest-product .wrap-lastest-product{
	width: 80%;
    padding: 0 30px 0 30px;
}
.box-product-parallax .box-img {
    width: 40%;
}
.box-search-10 input[type=text] {
    width: 250px;
}
.box-search select{
	min-width: 170px;
}
.box-services .services{
	margin-bottom: 20px;
}
.banner-home-10 .info-box,.banner-blog .box-info{
	height: 100px;
}
.banner-home-10 h3,.banner-home-10 span,.banner-blog .box-info h3,.banner-blog .box-info .price span{
	font-size: 30px;
}
.banner-home-10 .info-box>a,.banner-blog .box-info>a{
	font-size: 14px;
	margin: 10px 0 0;
}
.cate-header ul li {
    margin-right: 15px;
}
.list-product .title .text{
	margin: 0 0 0 15px;
}
.box-range #amount{
	width: 85px;
}
.banner-sidebar .box-info{
	height: 355px;
}
.check-box a{
	margin-right: 20px;
}
.footer-menu ul li{
	margin: 0 5px;
}
.main-nav>ul>li>a{
	margin: 0 10px;
}
.box-special, .box-shape, .box-say{
	padding-top: 40px;
	margin-top: 40px;
}
.box-say{
	padding: 40px 0;
}
.banner-blog .box-info a{
	margin: 5px 0 0;
	font-size:14px;
}
.box-vertical .box-img {
    width: 37%;
}
.box-vertical .box-info {
    width: 63%;
    padding: 10px;
}
.box-default-style .box-info h3{
	font-size: 18px;
}
.bottom-footer h3 i{
	margin-right: 5px;
}
.img-pro li{
	margin-right: 5px;
}
.size-pro a{
	padding: 10px;
}
.bottom-footer h3{
	font-size: 14px;
}
.box-tag-08 .title{
	border-right: none;
}
.box-product-2 .dropdown-box{
	left: 0;
}
.box-range a.btn-filter{
	margin: 15px 0px 0 0;
}
.box-say p{
	padding: 0;
}
.box-banner-parallax{
	margin-top: -150px;
}
.top-header-4 .main-nav {
    text-align: left;
}
.banner-form input[type=text]{
	min-width: 290px;
}
.box-player{
	margin: 50px 0 50px;
}
.mega-menu{
	width: 740px;
}
.mega-list-cat h2{
	font-size: 18px;
}
}
/*End Screen 1024*/
@media (max-width: 990px){
.mega-menu-v1,.mega-menu-v2{
	left: 0;
}
.box-search-10 input[type=text] {
    width: 240px;
}
.box-search-10 .select-box{
	display: none;
}
.box-banner .box-text{
	padding: 10px 0 25px 15px;
}
.box-brand a img{
	width: 70%;
}
.box-brand a{
	margin: 0;
}
.box-product-slide .box-right{
	padding-left: 0;
}
.box-banner-parallax .box-info-banner{
	padding: 0 40px;
}
.box-banner-products .text h3 a {
    font-size: 18px;
}
.box-banner-products .text>a{
	font-size: 12px;
}
.box-banner-6 .info-box{
	min-width: 250px;
}
.box-product-parallax .box-img a{
	width: 45%;
}
.box-search-10 {
    margin: 0 0px 0 30px;
    text-align: left;
}
.logo {
    padding: 0 0 20px 0;
    text-align: center;
}
.main-nav{
	margin: 0;
}
.box-blog .info-box{
	padding:0 20px;
}
.box-range a.btn-filter {
    margin: 65px 0 0 0;
	min-width: 85px;
	float: left;
}
.banner-sidebar .box-info,.main-content-gridview .banner-sidebar{
	display: none;
}
.main-content-gridview .list-product .title i{
	margin-top: 0;
}
.main-content-gridview .box-right{
	margin-top: 30px;
}
.detai-cart .product-extra-link>a{
	min-width: 150px;
	font-size: 12px;
}
.banner-form .box-text{
	display: none;
}
.banner-form{
	min-width: initial;
	padding: 30px 0;
}
.banner-form .box-letter{
	text-align: center;
	padding-left: 0;
}
.banner-form .logo, .banner-form .box-letter{
	width: 100%;
}
.box-player h3{
	font-size: 60px;
}
.video-info{
	height: 180px;
}
.box-product .nav-tabs > li{
	margin-right: 15px;
}
}
/*End Screen 990*/
@media (max-width: 768px){

.box-info-slide{
	height: 130px;
}
.box-info-slide .wrap-info-slide{
	margin: auto;
}
.box-info-slide h2{
	font-size: 36px;
}
.box-info-slide h3{
	font-size: 38px;
	margin: 0;
}
.box-info-slide a{
	font-size: 14px;
	margin: 15px 0 0;
}
.list-product .title .text {
    margin: 0 0 0 10px;
}
.list-product .title h3{
	margin: 0;
}
.bottom-footer .title {
    width: 20%;
}
.bottom-footer ul {
    width: 80%;
    padding-left: 0px;
}
.box-slider-2 .product-extra-link a{
	min-width: 220px;
}
.box-slider-2 .owl-pagination{
	right: 35px;
}
.info-footer .box-cart ul li {
    margin: 5px;
}
.box-product-slide .item-big{
	margin: 60px 5px;
}
.box-update-product .box-cart, .box-choice .info-box .box-text{
	display: none;
}
.box-banner-6 .info-box{
	min-width: 220px;
}
.box-shape .box-left {
    width: 100%;
}
.box-shape .info-box {
    width: 100%;
    margin: 10px 0 0 0;
}
.box-product-parallax .info-box{
	margin: 0;
}
.box-search-10 input[type=text] {
	width: 196px;
}
.box-search select {
    min-width: 155px;
}
.banner-home-10 .info-box{
	display: none;
}
.box-vertical .box-info {
    padding: 60px 0;
}
.box-grid-2 .item-box{
	margin-bottom: 30px;
}
.box-grid-2{
	padding-bottom: 45px;
}
.banner-blog .box-info{
	display: none;
}
.box-product-parallax .info-box{
	width: 50%;
}
.item-listview .info-box {
    padding: 10px 0px 0 0;
}
.size-pro ul li{
	margin: 0 0 10px;
}
}
/*End Screen 768*/
@media (max-width: 767px){
.main-nav>ul li>a{
	margin: 0;
}
.mega-menu {
    display: none !important;
}
.box-banner .info-banner{
	margin-bottom: 20px;
}
.box-brand{
	padding: 50px 0 50px;
    margin-top: 40px;
}
.box-product-slide {
    margin-top: 40px;
}
.box-product-slide .box-right{
	margin-top: 40px;
}
.banner-theme{
	margin-top: 0;
}
.box-banner-products .banner a, .box-banner-products .banner img{
	width: 100%;
}
.box-choice .wrap-choice{
	margin: 0 0 10px !important;
}
.box-choice .info-box .box-text{
	display: block;
}
.box-product-show .box-left{
	margin-right: 0;
}
.box-product-show .box-right {
    margin: 10px 0 0 0;
}
.box-choice {
    margin: 40px 0;
}
.box-product-show-2{
	margin-bottom: 30px;
}
.box-product-show-2 .box-2{
	margin: 15px 0;
}
.box-product-show-2 .box-1, .box-product-show-2 .box-3{
	margin: 0 -5px;
}
.box-product-show-2 .box-1 .item, .box-product-show-2 .box-3 .item{
	width: 48.3%;
    display: inline-block;
    margin: 0 5px;
}
.box-product-show-3 .wrap-item-bottom{
	margin: 0 25px 0px;
}
.box-product-show-3 .box-1, .box-product-show-3 .box-2 {
    margin: 10px 0 0 0;
}
.box-banner-6 .banner a, .box-banner-6 .banner img,
.box-has-filter .col-xs-9, .box-has-filter .col-xs-3
{
	width: 100%;
}
.box-banner-6 .info-box {
    min-width: 320px;
}
.box-banner-6 .banner {
    margin: 0 -10px 10px;
}
.box-banner-6{
	margin: 40px 10px 0;
}
.box-introduce .box-text{
	margin-top: 0;
}
.box-special .item-special{
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.box-utilities {
    margin-top: 40px;
}
.list-product .title i{
	margin-top: 0;
}
.banner-sidebar{
	display: none;
}
.main-content-home10 .box-left {
    margin: 30px 20px 0 20px;
}
.main-content-home10 .box-right {
    margin: 40px 20px 70px 20px;
}
.box-masonery .item-post-masonry{
	width: 50%;
}
.wrap-main-post .box-right{
	margin-top: 50px;
}
.detai-cart{
	margin-top: 20px;
}
.box-range #amount{
	display: none;
}
.drop-list{
	margin-bottom: 25px;
}
.main-nav .toggle-mobile-menu{
	display: block;
}
.main-nav li{
	width: 100%;
	margin: 0;
}
.main-nav ul.list-inline{
	padding: 10px 20px;
}
.menu-before-rep{
	display: none;
}
.top-header-4 .main-nav>ul>li>a, .top-header-5 .main-nav>ul>li>a, .bottom-header .main-nav>ul>li>a{
	color: #333;
}
.main-nav-2.active>ul{
	display: block;
}
.main-header-6 .main-nav{
	margin: -80px 0 0 15px;
	border: none;
	padding: 0;
	text-align: left;
}
.main-header-6 .main-nav ul{
	padding: 10px 20px;
}
.main-header-6 .logo {
    margin: 20px 0 30px;
}
.top-footer, .box-icon-sn{
	text-align: center;
}
.top-footer .logo{
	padding: 0 0 10px 0;
}
.box-icon-sn{
	padding: 10px 0;
}
.top-header{
	padding: 25px 0 20px;
}
.box-product-collection .wrap-product-collection .box-left{
	margin-bottom: 30px;
}
.main-nav-2 , .top-header-6 .box-right{
	margin: 0 !important;
}
.top-header-2 .box-right{
	margin: 10px 0 0 !important;
}
.main-nav {
    margin: -55px 0 0 0;
}
.top-header .box-right{
	margin: -55px 0 0;
}
.top-header-4{
	padding: 25px 10px 20px;
}
.bottom-header .main-nav {
    margin: 0 0 0 30px;
}
.top-header-6{
	padding: 9px 0 !important;
}
.wrap-main-post .box-left {
    padding-right: 0;
    border-right: none;
}
.main-nav-2>ul{
	min-width: 290px;
}
.main-nav-2>ul>li{
	padding: 0;
}
.video-info {
    height: 80px;
}
.box-player h3{
	display: none;
}
.video-button:after{
	padding: 12px 0 0 0;
}
.video-button:after, .video-button:before{
	font-size: 16px;
    padding: 12px 0 0 5px;
}
.video-button{
	width: 50px;
    height: 50px;
	margin: 0;
}
.box-utilities .wrap-utilities{
	padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.box-utilities .wrap-utilities.last-child{
	border-bottom: none;
	padding-top: 25px;
}
.box-product .nav-tabs>li{
	width: 100%;
    text-align: left;
    border: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
.box-product .nav-tabs>li:before{
	left: auto;
    right: 20px;
	bottom: 14px;
}
.box-product .title h3 a{
	padding: 10px;
    width: 100%;
}
.box-product .title a.filter{
	float: left;
	margin-top: 10px;
}
.dropdown-box{
	top: auto;
}
.box-product-2 .filter{
	float: left;
	margin-top: 20px;
}
.box-product-2 .dropdown-box{
	top: auto;
}
.main-nav>ul>li .sub-menu{
	box-shadow: none !important;
}
.box-banner-products .text>a i{
	margin: 0px 0 0 15px;
    position: absolute;
}
.top-header-5{
	padding: 25px 0 0px;
}
.box-special{
	margin: 0;
}
.box-product-home10 .col-xs-4, .box-product-home10 .col-xs-8{
	width: 100%;
}
.box-product-home10 .box-tabs{
	width: 100%;
}
.box-product .nav-tabs > li:before{
	display: none;
}
.box-product-home10 .nav-tabs > li{
	padding-bottom: 0;
}
.item-listview .info-box {
    padding: 25px 30px 10px 0;
}
.box-slider-2 .info-box{
	padding: 5px 0 20px 30px;
}
.box-about-product {
    margin-bottom: 30px;
}
}
/*End Screen 767*/
@media (max-width: 640px){
.box-product-show-2 .box-1 .item, .box-product-show-2 .box-3 .item{
	width: 48%;
}
.box-introduce .col-xs-6{
	width: 100%;
}
.box-introduce-2 .box-text{
	margin-top: 70px;
}
.box-slider-3 .box-info-slide{
	margin: auto;
}
.box-slider-06 .wrap-info-slide{
	padding: 30px 0;
}
.box-slider-06 .box-info-slide h2, .box-slider-06 .box-info-slide h3{
	font-size: 18px;
}
.box-slider-06 .box-info-slide {
    min-width: 250px;
    height: 175px;
}
.box-search input[type=text]{
	width: 200px;
}
.box-search select,.box-search .select-box::after{
	display: none;
}
.box-tab-detail .img-box,.box-tab-detail .img-box a,.box-tab-detail .img-box a img,.box-tab-detail .txt-box{
	width: 100%;
}
.box-tab-detail .txt-box{
	margin: 20px 0 0 0;
}
.wrap-slide{
	position: relative;
}
.wrap-slide:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right:0;
	background:rgba(0,0,0,0.3);
}
.box-info-slide{
	z-index: 999;
}
.box-info-slide .adv-info-slide{
	margin: auto;
}
}
/* End Screen 640px */
@media (max-width: 560px){
.box-slider .box-img img{
	display: none;
}
.box-slider .box-img{
	background: url("../images/slide/slide-1.jpg");
	height: 400px;
    background-repeat: no-repeat;
    background-position: center center !important;
}
.box-slider .box-img-2{
	background: url("../images/slide/slide-2.jpg");
}
.box-slider .box-img-3{
	background: url("../images/slide/slide-3.jpg");
}
.box-slider-2 .info-box{
	display: none;
}
}
/* End Screen 560 */
@media (max-width: 480px){
.box-info-slide .wrap-info-slide{
	width: 100%;
}
.box-product .title h3{
	font-size: 14px;
}

.box-slider-2 .box-img{
	width: 100%;
}
.box-product-2 .filter{
	display: none;
}
.box-product-2 .nav-tabs h3 a{
	padding: 10px 15px;
}
.box-brand a {
    margin: 0 0 30px;
}
.box-banner-parallax .box-info-banner a{
	float: left;
}
.box-product-show-2 .box-1 .item, .box-product-show-2 .box-3 .item{
	width: 100%;
}
.box-product-collection .title span,.box-product-collection .title:after, .box-product-collection .title:before{
	display: none;
}
.box-product-collection .title .text {
    margin-left: 0;
}
.box-about-product .col-xs-6,.top-header-10 .col-xs-7, .item-listview .col-xs-4, .item-listview .col-xs-8 {
	width: 100%;
}
.box-about-product .box-text {
    margin: 20px 0 0 0;
}
.box-about-product {
    margin-bottom: 30px;
}
.box-introduce .box-text{
	margin-bottom: 30px;
}
.box-introduce-2 .box-text{
	margin-top: 80px;
}
.box-special .item-special{
	margin-bottom: 10px;
}
.box-banner-08 .info-box,.box-product-parallax .box-img{
	display: none;
}
.box-product-parallax .info-box, .box-tab-detail .nav-tabs li,
 .box-tab-detail .img-box a, 
.box-tab-detail .img-box img,.box-vertical .box-img{
    width: 100%;
}
.phone-number-10{
	display: none;
}
.box-product-home10 .nav-tabs>li.active h3 a{
	color: #ffcb66;
}
.box-product-home10 .title>h3>a{
	margin: 10px 0 10px;
}
.item-listview .info-box {
    padding: 10px 20px 0 20px;
}
.item-listview .customize{
	padding: 13px 0 13px 20px;
}
.box-tab-detail .nav-tabs li>a{
	padding: 15px 0;
}

.box-vertical .box-info {
    padding: 20px 15px;
	width: 100%;
}
.top-header {
    padding: 25px 0 5px;
}
.top-header-4 {
    padding: 25px 10px 20px;
}
.wrap-main-post .box-info ul.time-post li{
	border-right: none;
	width: 100%;
	padding: 0;
}
.wrap-main-post .box-info ul{
	padding: 0 0 10px;
}
.banner-form input[type=text] {
    min-width: 245px;
}
.video-button:after, .video-button:before{
	padding: 12px 12px 12px 13px;
}

.box-product-slide .item-small {
    width: 100%;
}
.box-product-slide .item-big {
    margin: 0 5px;
    width: 100%;
}
.box-product-show-2 .box-1, .box-product-show-2 .box-3{
    margin: 0;
}
.box-product-show-2 .box-1 .item, .box-product-show-2 .box-3 .item{
	margin: 0 0 10px;
}
.box-product-show-2 {
    margin-bottom: 5px;
}
.box-search-10 {
    margin: 0;
    text-align: center;
}
}
/*End Screen 480*/
@media (max-width:479px){
.box-product-collection .wrap-product-collection .box-left .info-box,
.box-introduce .box-img-item a:before{
	display: none ;
}
.box-about-product .box-text ul{
	padding: 20px;
}
.box-introduce .box-img-item {
    float: initial;
    text-align: center;
}
.box-info-slide .adv-info-slide{
	min-width: 300px;
}
}
/* End Screen 479 */
@media (max-width: 360px){
.box-product-collection .wrap-product-collection .box-left .info-box, .box-search select,
.box-search .select-box::after{
	display: none;
}
.box-has-filter .col-xs-9, .box-product .col-xs-6, .bottom-footer .title, .bottom-footer ul,
.wrap-product .col-xs-6, .box-product-slide .item-small, .box-product-slide .item-big,
.box-product-show-2 .box-1 .item, .box-product-show-2 .box-3 .item, .box-product-home10 .col-xs-4,
.box-product-home10 .col-xs-8, .wrap-item-bottom .col-xs-6{
	width: 100%;
}
.bottom-footer ul{
	margin-top: 10px;
}
.box-product-2 .box-tabs h2{
	margin: 10px 25px 15px 0;
}
.box-product-slide .item-big, .box-product-show-2 .box-1, .box-product-show-2 .box-3
 {
    margin: 0;
}
.box-product-show-2 .box-1 .item, .box-product-show-2 .box-3 .item,
.box-product-show-2 .box-2{
	margin: 0 0 10px;
}
.banner-theme, .box-banner-parallax .box-info-banner a:after, .box-sale .box-text,
.box-choice .info-box .box-text{
	display: none;
}
.box-banner-parallax .box-info-banner a{
	padding: 10px 0;
}
.box-product-home10 .box-tabs {
    float: initial;
}
.box-search-10{
	margin: 0;
    text-align: center;
}
.wrap-gridview .title h3{
	margin: 0 0 10px;
    width: 100%;
}
.wrap-gridview .box-view{
	float: left;
	margin: 0 0 10px;
}
.box-product .title a.filter{
	display: none;
}
.box-sale{
	margin: 30px 0;
}
.box-product-show-3 .wrap-item-bottom .item{
	margin: 0 -10px 10px;
}
.box-product-show-3 .wrap-item-bottom .item:last-child{
	margin-bottom: 0;
}
.box-about-product h3{
	font-size: 38px;
}
.box-shape .info-box .product-extra-link>a{
	min-width: 250px;
}
.box-tag-08 .title i{
	font-size: 45px;
}
 .box-product-parallax .info-box h3 a{
	font-size: 24px;
 }
 .box-lastest-product .title{
	padding-left: 15px;
 }
 .bottom-header .box-right{
	margin-right: 25px;
 }
 .banner-form input[type=text] {
    min-width: 200px;
}
.box-slider-3 .box-info-slide{
	display: none;
}
}
/*End Screen 360*/
@media (max-width: 320px){
.top-header .col-xs-9, .top-header .col-xs-3,.top-header-2 .col-xs-3{
	width: 50%;
}
.top-header-2 .box-right {
    margin: -55px -160px 0 0!important;
}
.box-default-style .box-info ul li:first-child{
	border-right: none;
}
.img-pro li img{
	margin-right: 5px;
}
}
/*End Screen 320*/