body{
    font-family: Comic Sans MS;
    font-weight: bold;
}
.navbar{
    color: white;
}
.nav-item{
    width: 150px;
    text-align: center;
    background: beige;
    height: 70px;
    margin-left: 2px;
    border-radius: 6px;
    box-shadow: 0px 0px grey;
    -webkit-transition: box-shadow 2s, height 2s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 2s,height 2s; 
}

.nav-item:hover{
    box-shadow: 10px 10px grey;
    height: 80px;
}

.nav-link{
    color: white !important; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #166ba2;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #166ba2;
}

.list-inline-item.active{
    color: white !important;
    background: #166ba2;
    padding: 10px;
}
.dawnlist>.list-inline-item{
    color:  #166ba2;
}


.button-save{
    position: absolute;
    right: 6px;
    margin-top: 15px;
    margin-right: 18px;
    opacity: 0;
}

.card:hover  .button-save{
    opacity: 1;
    -webkit-transition: opacity 0.85s ease-in;
    -moz-transition: opacity 0.85s ease-in;
     -ms-transition: opacity 0.85s ease-in;
      -o-transition: opacity 0.85s ease-in;
         transition: opacity 0.85s ease-in;
}
.card-title{
    font-weight: bold;
}



