body{
    font-family: Comic Sans MS;
    font-weight: bold;
}
.navbar{
    color: white;
}
.nav-item{
    width: 150px;
    text-align: center;
    background: beige;
    margin-left: 2px;
    border-radius: 6px;
    box-shadow: 0px 0px grey;
    -webkit-transition: box-shadow 2s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 2s; 
}

.nav-item:hover{
    box-shadow: 10px 10px grey;
}

.nav-link{
    color: white !important; 
}

.carousel-control span.glyphicon {
    color: red;
}